<a href="#">
    جلال بهرامی راد
    <i class="fad fa-chevron-down text-sm mr-1"></i>
</a>
<ul class="dropdown--wrapper">
    <li class="header-profile-dropdown-account-container">
        <a href="#" class="d-block">
            <div class="header-profile-dropdown-user">
                <span class="header-profile-dropdown-user-img">
                    <img src="~/theme/assets/images/avatar/avatar.png">
                </span>
                <div class="header-profile-dropdown-user-info">
                    <p class="header-profile-dropdown-user-name">
                        جلال بهرامی راد
                    </p>
                    <span class="header-profile-dropdown-user-profile-link">
                        مشاهده حساب
                        کاربری
                    </span>
                </div>
            </div>
            <span class="header-profile-dropdown-account">
                <span class="header-profile-dropdown-account-item">
                    <span class="header-profile-dropdown-account-item-title">اعتبار</span>
                    <span class="header-profile-dropdown-account-item-amount">
                        <span class="header-profile-dropdown-account-item-amount-number">7,500,000</span>
                        تومان
                    </span>
                </span>
            </span>
        </a>
    </li>
    <li>
        <a href="#">
            پروفایل
        </a>
    </li>
    <li>
        <a href="#">
            پیگیری سفارش
        </a>
    </li>
</ul>